.search-bar {
	margin: 20px;
	text-align: center;
}

.search-bar input {
	width: 75%;
}

.video-item img {
	max-width: 128px;
}

.video-detail .details {
	margin-bottom: 10px;
	border: 1px solid #ddd;
	font: Verdana, sans-serif;
	font-size: 30px;
	/*font-family: Georgia;*/
}

.video-detail:hover {
	background-color: #eee;
}

.list-group-item {
	cursor:pointer;
}

.list-group-item:hover {
	background-color: #eee;
}

.list-container {
	margin: auto;
	text-align: center;
}
